<!-- <div class="dashboard">
  <div class="dashboard-header">
    <div class="header-name">
      {{ employee.firstName }} {{ employee.lastName }}
    </div>
    <div class="header-department">
      {{ employee.department }}
    </div>
  </div>
  <div class="dashboard-avatar">
    <img [src]="employee.photoPath" [alt]="employee.department" srcset="">
  </div>
  <div class="dashboard-stats">
    <div class="stats-container">
      <div class="stats-container-title">
        Days off this month:
      </div>
      <div class="stats-container-text">
        {{ employee.takenLeaveCount }}
      </div>
    </div>
    <div class="stats-container">
      <div class="stats-container-title">
        Days remaining this month:
      </div>
      <div class="stats-container-text">
        {{ employee.remainingLeaveCount }}
      </div>
    </div>
  </div>
  <div class="dashboard-calender">
    <div class="dashboard-calender-header">
      Calender
    </div>
    <app-calender></app-calender>
  </div>
</div> -->
