.errbox {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 1.5rem 0;
  background: red;
  transition: all 1.25s;
  transform: translateX(40px);
  opacity: 0;
  color: white;
}

.errbox-active {
  transform: translateX(0px);
  opacity: 1;
}

.button-spinner {
  display: none;
}

.profile {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.profile-header {
  display: flex;
  flex-flow: row;
  gap: 2rem;
  align-items: center;
}

.header-icon {
  height: 22.5vh;
  width: 22.5vh;
  overflow: hidden;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.header-icon img {
  height: 23vh;
}

.header-icon img:hover {
  transform: scale(1.1);
  transition: all 1s;
  filter: brightness(0.5);
}

.about-name {
  font-size: 2.75rem;
  font-weight: 500;
  height: 2rem;
}

.about-tag {
  font-size: .9rem;
  font-weight: bodl;
  color: #7f00ff;
}

.about-department {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin-top: .5rem;
}

.about-options button {
  padding: .5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background: #7f00ff;
  border: 2px solid;
  margin-top: 1rem;
}

.header-about {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.p-modal {
  transform: scale(0);
  transform-origin: center;
}

.p-modal-active {
  transition: all 1s;
  transform: scale(1);
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ededed, #ededed50);
  height: 100vh;
  width: 100vw;
  padding: 5rem 32.5%;
}

.modal-container {
  background: #ededed;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  gap: 1rem;
}

button.btn-primary {
  padding: .5rem 1.5rem;
  border: 2.5px solid #ededed;
  background: #7f00ff;
  color: white;
  font-weight: bold;
  width: 100%;
}

button.btn-primary-invert {
  padding: .5rem 1.5rem;
  border: 2.5px solid #7f00ff;
  background: #ededed;
  color: #7f00ff;
  font-weight: bold;
  width: 100%;
}


.input {
  position: relative;
  margin: 2.25rem 0px;
}

input {
  padding: .5rem;
  border: 2px solid transparent;
  background: #e5d2ff;
  margin-top: .5rem;
  outline: none;
  width: 100%;
}

input:hover,
input:focus {
  border-bottom: 2px solid #7f00ff;
  transition: all .5s;
  background: white;
}

input:hover~label,
input:focus~label,
input:valid~label {
  top: -1rem;
  font-weight: bold;
  color: #7f00ff;
  left: 0;
  transition: all .5s;
}

input:valid {
  background: white
}

label {
  position: absolute;
  top: 1.15rem;
  left: .5rem;
  color: #818181;
}
